@charset "UTF-8";
body{
 background-image: url(DSC01833.JPG);
 background-size:cover; 
 
 margin-left: 130px;
 font-size:20px;
 line-height:40px;

#box1 {
font-size:27px;
line-height:23px;
	width: 400px;
	height: 200px;
    padding: 40px;
    margin-bottom: 200px;
    margin-left: 150px;
	float: left;
}


}